@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  /* Colors (palette)*/
  --alpha: 0.3;
  --col-black: rgb(20, 20, 20);
  --col-grey: rgb(180, 180, 180);
  --col-dark-grey: rgb(80, 80, 80);
  --col-white: rgb(255, 255, 255);
  --col-rain: rgb(100, 160, 240);
  --col-white-alpha: rgb(255, 255, 255, var(--alpha));
  --col-alert: rgb(161, 19, 26);
  --col-alert-bg: rgb(250, 217, 212, 0.8);

  /* Colors (background)*/
  --bg-col: rgb(227, 248, 242);
  --block-bg-col: rgb(215, 240, 233);
  --weather-data-page-bg: linear-gradient(
    to bottom,
    var(--bg-col),
    var(--col-dark-grey)
  );
  --block-bg-color: var(--col-white-alpha);

  /* Colors (text/icons)*/
  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);

  /* Colors (icons)*/

  /* Font family */
  --main-font: "Nunito", sans-serif;

  /* Font sizes */
  --txt-fontsize: 18px;
  --txt-small-fontsize: 0.8em;
  --txt-smaller-fontsize: 0.6em;
  --txt-lineheight: 1.2;
  --h1-font-size: 1.2rem;
  --h2-font-size: 2em;
  --h3-font-size: 1.1em;
  --h3-alert-font-size: 2em;
  --h3-icon-size: 3em;
  --h4-alert-font-size: var(--h3-font-size);
  --weather-icon-size: 9em;
  --weather-icon-mini-size: 2.5em;
  --weather-icon-mid-size: 5em;
  --temp-font-size: 5em;
  --other-condition-value-fontsize: 3.5em;
  --other-condition-unit-fontsize: 1em;
  --other-condition-small-fontsize: 0.8em;
  --other-condition-smaller-fontsize: 0.6em;
  --generic-icon-size: 2rem;
  --select-location-text-size: 1.2em;

  /* Text clamping: number of lines */
  /* --main-itm-project-description-max-lines: 6;
    --main-itm-announcements-description-max-lines: 3; */

  /* Maximum width (including dashboard margin) */
  /* --max-width: min(1440px, 100%); */

  /* Radius */
  --radius: 30px;
  --radius-inner: 25px;

  /*Margins, gaps and paddings (+widths)*/
  --page-padding: 1em;
  --page-gap: var(--page-padding);
  --block-alt-padding: 1em;
  --block-half-alt-padding: calc(var(--block-alt-padding) / 2);
  --block-alt-gap: var(--block-half-alt-padding);
  --block-padding: calc(var(--radius) / 2);
  --block-padding-inner: calc(var(--radius-inner) / 2);
  --block-gap: 0.4em;
  --block-gap-larger: 0.8em;
  --select-location-padding: 0.5em 1em;
  --select-location-gap: 1em;

  /* Images / icons size */

  /* Shadows */
  /* --outset-shadow: 2px 2px 8px var(--col-accent-medium);
    --outset-shadow-btn-active: 2px 2px 5px var(--col-accent-medium);
    --inset-shadow: 2px 2px 2px var(--col-accent-light) inset; */

  /* Animations on hover / active / ...*/
  /* --transition-time: 0.8s; */
}

html {
  background-color: var(--bg-col);
  color: var(--col-txt);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--txt-fontsize);
  line-height: var(--txt-lineheight);
}

html:has(.weather-data-page) {
  background: var(--weather-data-page-bg);
  background-attachment: fixed;
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

body {
  margin: 0 auto;
  height: 100vh; /*it is assumed the same for <html>*/
  height: 100dvh; /* if supported */

  /* if you want to allow scroll: */
  /* min-height: 100vh; */
  /* height: 100%; */

  width: 100%;
  /* or max-width -- this avoids horizontal scroll bars */

  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
}

/*****************************************************/

/* || Generic */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
}

.header-container,
.main-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

p {
  text-wrap: pretty;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* HEADERS */

.select-location-page,
.settings-page,
.fetching-page,
.error-page,
.locating-page {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

.select-location-page__header,
.settings-page__header,
.error-page__header,
.fetching-page__header,
.locating-page__header {
  display: grid;
  grid-template-columns: var(--generic-icon-size) 1fr var(--generic-icon-size);
  grid-template-rows: max(var(--h1-font-size), var(--generic-icon-size));
  align-items: center;
  justify-items: center;
  line-height: 1;
}

.select-location-page__h1,
.settings-page__h1,
.fetching-page__h1,
.error-page__h1,
.locating-page__h1 {
  font-size: var(--h1-font-size);
  grid-column: 2;
}

/* SELECT LOCATION PAGE --------------------------------------------------------- */

.select-location-page__bookmarked-list {
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
}

.select-location-page__search-div,
.select-location-page__home-div,
.select-location-page__bookmarked-div,
.select-location-page__current-location-div {
  background-color: var(--block-bg-col);
  border-radius: var(--radius);
  /* padding: var(--block-padding); */
  gap: var(--block-gap);
  display: flex;
}

.select-location-page__search-icon,
.select-location-page__remove-home-btn,
.select-location-page__remove-bookmarked-btn,
.select-location-page__current-location-icon {
  margin: var(--block-padding);
  margin-right: 0;
}

.select-location-page__search-input,
.select-location-page__home-btn,
.select-location-page__bookmarked-btn,
.select-location-page__current-location-btn {
  font-size: var(--select-location-text-size);
  border: none;
  background: none;
  text-align: left;
  justify-content: pretty;
  padding: var(--block-padding);
  padding-left: 0;
  width: 100%;
}

.select-location-page__search-input {
  padding: 0;
  margin: var(--block-padding);
  margin-left: 0;
}

.select-location-page__search-input {
  width: 100%;
  border-bottom: 1px solid var(--bg-col);
}
.select-location-page__search-input::placeholder {
  color: var(--col-grey);
}
.select-location-page__search-input:focus {
  /* border: none; */
  outline: none;
}

.select-location-page__remove-home-btn,
.select-location-page__remove-bookmarked-btn {
  flex-basis: calc(var(--generic-icon-size));
  flex-shrink: 0;
}

/* SETTINGS PAGE --------------------------------------------------------- */

.settings-page__h2 {
  text-align: center;
}

.settings-page__units-fieldset {
  border-radius: var(--radius);
  padding: var(--block-padding);
  background-color: var(--block-bg-col);
  border: none;
}

.settings-page__units-fieldset-legend {
  border-radius: var(--radius);
  padding: var(--block-padding-inner);
  background-color: var(--col-white);
  border: none;
  font-weight: bold;
}

.settings-page__units-item-div {
  display: flex;
  gap: 0.5em;
}

.settings-page__units-item-label {
  font-size: var(--select-location-text-size);
}

/* WEATHER DATA PAGE ------------------------------------------------------------ */

.weather-data-page {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

.weather-data-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  gap: var(--page-gap);
}

.weather-data-page__back-btn {
  margin-right: auto;
  /* margin-right: var(--generic-icon-size);
  flex-basis: calc(var(--generic-icon-size));
  flex-shrink: 0; */
}
.weather-data-page__btn-div {
  display: grid;
  grid-template-columns:
    var(--generic-icon-size) 1fr
    var(--generic-icon-size) var(--generic-icon-size);
  grid-template-rows: max(var(--h1-font-size), var(--generic-icon-size));
  align-items: center;
  justify-items: center;
  line-height: 1;

  width: 100%;
}

.weather-data-page__toggle-home-btn {
  grid-column: 3;
}

.weather-data-page__toggle-bookmarked-btn {
  grid-column: 4;
}

.weather-data-page__location {
  display: flex;
  flex-direction: column;
}

.weather-data-page__location-h2 {
  font-size: var(--h2-font-size);
  text-align: center;
  text-wrap: balance;
}

/* CURRENT CONDITION */

.weather-data-page.night {
  --alpha: 0.5;
  --col-white-alpha: rgb(255, 255, 255, var(--alpha));
  --block-bg-color: var(--col-white-alpha);
}

.weather-data-page.night .weather-data-page__header,
.weather-data-page.night .weather-data-page__current-condition-div {
  color: var(--col-txt-alt);
}

.weather-data-page__current-condition-div {
  display: grid;
  grid-template-areas:
    "conditions conditions"
    "icon temp"
    "feelslike feelslike"
    "lowhightemp lowhightemp";
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-columns: max-content max-content;
  padding: var(--block-alt-padding);
  gap: var(--block-alt-gap) 0px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  line-height: 1;
}

.weather-data-page__conditions-p {
  grid-area: conditions;
}

.weather-data-page__temp-p {
  grid-area: temp;
  justify-self: right;
  font-size: var(--temp-font-size);
  letter-spacing: -5px;
  font-weight: bold;
}

.weather-data-page__icon-div {
  grid-area: icon;
  justify-self: left;
  width: var(--weather-icon-size);
  height: var(--weather-icon-size);
}

.weather-data-page__feels-like-p {
  grid-area: feelslike;
}

.weather-data-page__high-low-temp-p {
  grid-area: lowhightemp;
}

/* ALERTS */

.weather-data-page__alerts-div {
  display: grid;
  grid-template-areas:
    "icon titleh3"
    "list list";
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 1fr;
  background-color: var(--col-alert-bg);
  border-radius: var(--radius);
  padding: var(--block-padding);
  gap: var(--block-padding) var(--block-alt-gap);
}

.weather-data-page__alerts-icon-div {
  grid-area: icon;
  align-self: center;
  width: var(--h3-icon-size);
  height: var(--h3-icon-size);
}

.weather-data-page__alerts-h3 {
  grid-area: titleh3;
  color: var(--col-alert);
  font-size: var(--h3-alert-font-size);
  line-height: 1;
  align-self: center;
}

.weather-data-page__alerts-list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  gap: var(--block-alt-gap);
}

.weather-data-page__alert-li {
  display: flex;
  flex-direction: column;
  background-color: var(--block-bg-color);
  border-radius: var(--radius-inner);
  padding: var(--block-padding-inner);
  gap: var(--block-gap);
}

.weather-data-page__alert-h4 {
  font-size: var(--h4-alert-font-size);
}

.weather-data-page__alert-date-p {
  color: var(--col-dark-grey);
  font-size: var(--txt-small-fontsize);
  text-align: right;
  text-wrap: balance;
}

.weather-data-page__alert-descr-p {
  text-wrap: pretty;
  /* Break links */
  /* From: https://stackoverflow.com/questions/5241369/word-wrap-a-link-so-it-doesnt-overflow-its-parent-div-width */

  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* GENERIC BLOCKS */

.weather-data-page__weather-insight-div,
.weather-data-page__hourly-forecasts-div,
.weather-data-page__daily-forecasts-div {
  display: flex;
  flex-direction: column;
  background-color: var(--block-bg-color);
  border-radius: var(--radius);
  padding: var(--block-padding);
  gap: var(--block-gap);
  user-select: none;
}

.weather-data-page__weather-insight-h3,
.weather-data-page__hourly-forecasts-h3,
.weather-data-page__daily-forecasts-h3 {
  font-size: var(--h3-font-size);
}

/* HOURLY / DAILY FORECASTS */

.weather-data-page__hourly-forecasts-list,
.weather-data-page__daily-forecasts-list {
  display: flex;
  gap: var(--block-gap-larger);
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: var(--block-gap);
  justify-content: space-between;
}

.weather-data-page__daily-forecasts-list {
  gap: var(--block-alt-gap);
}

.weather-data-page__hour-forecasts-li,
.weather-data-page__day-forecasts-li {
  display: grid;
  align-items: start;
  justify-items: center;
}

.weather-data-page__hour-forecasts-li {
  grid-template-areas:
    "temp"
    "icon"
    "precipprob"
    "time";
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: repeat(24, min-content);
}

.weather-data-page__day-forecasts-li {
  grid-template-areas:
    "temp"
    "templow"
    "icon"
    "precipprob"
    "time"
    "date";
  grid-template-rows: repeat(6, max-content);
  grid-template-columns: repeat(15, min-content);
  background-color: var(--col-white-alpha);
  border-radius: calc(var(--radius-inner));
  padding: var(--block-padding-inner);
}

.weather-data-page__hour-forecasts-temp,
.weather-data-page__day-forecasts-temp-high {
  grid-area: temp;
  font-weight: bold;
}

.weather-data-page__day-forecasts-temp-low {
  grid-area: templow;
  font-size: var(--txt-small-fontsize);
}

.weather-data-page__hour-forecasts-icon-div,
.weather-data-page__day-forecasts-icon-div {
  grid-area: icon;
  width: var(--weather-icon-mini-size);
  height: var(--weather-icon-mini-size);
}

.weather-data-page__hour-forecasts-precip-prob,
.weather-data-page__day-forecasts-precip-prob {
  grid-area: precipprob;
  color: var(--col-rain);
  font-size: var(--txt-smaller-fontsize);
  height: calc(var(--txt-smaller-fontsize) * var(--txt-lineheight));
}

.weather-data-page__hour-forecasts-hour,
.weather-data-page__day-forecasts-day {
  grid-area: time;
  font-size: var(--txt-small-fontsize);
  padding-top: var(--block-gap-larger);
}

.weather-data-page__day-forecasts-date {
  grid-area: date;
  font-size: var(--txt-smaller-fontsize);
}

/* OTHER INFO FORECASTS */

.weather-data-page__other-conditions-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--block-gap-larger);
  /* align-items: flex-start; */
}

.weather-data-page__other-condition-li {
  display: flex;
  flex-direction: column;
  background-color: var(--block-bg-color);
  border-radius: var(--radius);
  padding: var(--block-padding);
  gap: var(--block-gap);
  user-select: none;
  width: max-content;
  flex: 1;
  /* max-width: fit-content; */
  align-items: center;
  justify-content: space-between;
}

.weather-data-page__other-condition-li:has(.flex-list) {
  flex: 3;
}

.weather-data-page__other-condition-h3 {
  font-size: var(--h3-font-size);
  text-align: center;
}

.weather-data-page__other-condition-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-data-page__other-condition-icon-div {
  width: var(--weather-icon-mid-size);
  height: min-content;
  z-index: -1;
}

.weather-data-page__other-condition-value-div {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: baseline;
}

.weather-data-page__other-condition-value {
  font-weight: bold;
  font-size: var(--other-condition-value-fontsize);
}

.x3 .weather-data-page__other-condition-value {
  font-size: calc(var(--other-condition-value-fontsize) / 1.3);
}

.x4 .weather-data-page__other-condition-value {
  font-size: calc(var(--other-condition-value-fontsize) / 1.6);
}

.x5 .weather-data-page__other-condition-value {
  font-size: calc(var(--other-condition-value-fontsize) / 2);
}

.weather-data-page__other-condition-value-unit {
  font-size: var(--other-condition-unit-fontsize);
}

.x3 .weather-data-page__other-condition-value-unit,
.x4 .weather-data-page__other-condition-value-unit {
  font-size: calc(var(--other-condition-unit-fontsize) / 1);
}

.x5 .weather-data-page__other-condition-value-unit {
  font-size: calc(var(--other-condition-unit-fontsize) / 1);
}

.weather-data-page__other-condition-value-small-div {
  font-size: var(--other-condition-small-fontsize);
  display: flex;
  gap: 0.2em;
  width: max-content;
}

.weather-data-page__other-condition-icon-with-value-div {
  display: flex;
  flex-direction: column;
}

.weather-data-page__other-condition-icon-with-value-value {
  text-align: center;
  font-weight: bold;
}

/* Specific layouts */
.weather-data-page__other-condition-content.flex-list {
  display: flex;
}

.weather-data-page__other-condition-content.grid-icon-and-value,
.weather-data-page__other-condition-content.grid-icon-and-two-values,
.weather-data-page__other-condition-content.grid-icon-and-three-values {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.weather-data-page__other-condition-content.grid-icon-and-two-values,
.weather-data-page__other-condition-content.grid-icon-and-three-values {
  /* grid-template-columns: min-content 1fr; */
  grid-template-columns: min-content;
}

.grid-icon-and-value .weather-data-page__other-condition-icon-div {
  grid-column: 1;
  grid-row: 1;
}

.grid-icon-and-value .weather-data-page__other-condition-value-div {
  grid-column: 1; /* or 2 */
  grid-row: 1;
}

.grid-icon-and-two-values .weather-data-page__other-condition-icon-div {
  grid-column: 1;
  grid-row: 1;
}

.grid-icon-and-three-values .weather-data-page__other-condition-icon-div {
  grid-column: 1;
  grid-row: 1/3;
}

.grid-icon-and-two-values .weather-data-page__other-condition-value-div,
.grid-icon-and-three-values .weather-data-page__other-condition-value-div {
  grid-column: 1; /* or 2 */
  grid-row: 1;
  align-self: end;
}

.grid-icon-and-two-values .weather-data-page__other-condition-value-div {
  grid-column: 1; /* or 2 */
  grid-row: 1;
  align-self: center;
}

.grid-icon-and-three-values
  .weather-data-page__other-condition-value-small-div:first-of-type {
  grid-column: 1; /* or 2 */
  grid-row: 2;
  align-self: start;
  width: 100%;
  border-top: 1px solid var(--col-dark-grey);
  display: flex;
  justify-content: center;
}

.grid-icon-and-two-values .weather-data-page__other-condition-value-small-div,
.grid-icon-and-three-values
  .weather-data-page__other-condition-value-small-div:last-of-type {
  grid-column: 1; /* or 1/3 */
  grid-row: 3;
  justify-self: start;
  align-self: end;
}
.grid-icon-and-two-values .weather-data-page__other-condition-value-small-div {
  grid-row: 2;
}

.grid-icon-and-two-values .weather-data-page__other-condition-value-small,
.grid-icon-and-three-values
  .weather-data-page__other-condition-value-small-div:last-of-type
  .weather-data-page__other-condition-value-small {
  font-weight: bold;
}

/* WEATHER ERROR PAGE ------------------------------------------------------------ */

body > div:nth-child(1):has(> .error-page),
body > div:nth-child(1):has(> .fetching-page),
body > div:nth-child(1):has(> .locating-page) {
  flex: 1;
  overflow: hidden;
}

.error-page,
.fetching-page,
.locating-page {
  height: 100%;
}

.error-page__error-div,
.fetching-page__fetching-data-div,
.locating-page__locating-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.error-page__icon-div,
.fetching-page__icon-div,
.locating-page__icon-div {
  height: 100%;
  flex-grow: 1;
  min-height: 0;
}

.error-page__icon-div svg,
.fetching-page__icon-div svg,
.locating-page__icon-div svg {
  height: 100%;
  width: 100%;
  font-size: 3rem;
}

.error-page__error-msg,
.fetching-page__fetching-data-msg,
.locating-page__locating-msg {
  font-size: var(--txt-small-fontsize);
  text-wrap: balance;
  text-align: center;
}

/* Icons */
.select-location-page__search-icon,
.select-location-page__current-location-icon,
.select-location-page__remove-home-btn,
.select-location-page__remove-bookmarked-btn,
.select-location-page__settings-btn,
.settings-page__back-btn,
.error-page__back-btn,
.weather-data-page__back-btn,
.weather-data-page__toggle-home-btn,
.weather-data-page__toggle-bookmarked-btn {
  width: var(--generic-icon-size);
  height: min-content;
  border: none;
  background: none;
}

.select-location-page__search-icon svg,
.select-location-page__remove-current-location-icon svg,
.select-location-page__remove-home-btn svg,
.select-location-page__remove-bookmarked-btn svg,
.select-location-page__settings-btn svg,
.settings-page__back-btn svg,
.error-page__back-btn svg,
.weather-data-page__back-btn svg,
.weather-data-page__toggle-home-btn svg,
.weather-data-page__toggle-bookmarked-btn svg {
  height: 100%;
  width: 100%;
}

.select-location-page__remove-home-btn path,
.weather-data-page__toggle-home-btn path {
  fill: red;
  stroke: red;
}

.select-location-page__current-location-icon path,
.select-location-page__search-icon path,
.select-location-page__remove-bookmarked-btn path,
.select-location-page__settings-btn path,
.settings-page__back-btn path,
.error-page__back-btn path,
.weather-data-page__back-btn path,
.weather-data-page__toggle-bookmarked-btn path {
  fill: var(--col-txt);
  stroke: var(--col-txt);
}

.weather-data-page.night .weather-data-page__back-btn path,
.weather-data-page.night .weather-data-page__toggle-bookmarked-btn path {
  fill: var(--col-txt-alt);
  stroke: var(--col-txt-alt);
}

/* Customize scrollbars */
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  height: 4px; /* height of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}
